
h1{
    background-color: rgb(116, 240, 240);
    color: darkblue;
    width: auto;
    border-radius: 100px;
}
button{
    color: black;
    background-color: rgba(37, 228, 133, 0.534);
}
body{
    background-color:ivory;
}